*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 18, 44);
}
.container {

    display: flex;
    width: 90vh;
}
.panel{
   height: 80vh;
   border-radius: 50px;
   color: #fff;
   cursor: pointer;
   flex: 0.5;
   margin: 10px;
   position: relative;
   transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
    opacity: 1;
}
.img-1{
    background: url(./image/img-6.jpg) center no-repeat;
}
.img-2{
    background: url(./image/img-2.jpg) center no-repeat;
}
.img-3{
    background: url(./image/img-3.jpg) center no-repeat;
}
.img-4{
    background: url(./image/img-8.jpg) center no-repeat;
}
.img-5{
    background: url(./image/img-5.jpg) center no-repeat;
}
